<style>
@font-face{
	font-family:"SIFONN_BASIC";
	src:url("SIFONN_BASIC.otf");
}
@font-face{
font-family:"Sifonn";
src:url("http://www.myfontfree.com/data/541/s/sifonnbasicouline/SIFONN_BASIC_OUTLINE.otf");
}


body {
  background-color: #f35464;
  height: 100vh;
  color: #333;
  font-family: "Sifonn";
}

h1 {
  font-size: 3rem;
  color: #fff;
  margin: 15px;
    span {
    display: block;
    font-size: 2.5rem;
  }
}

.container {
  opacity: 0;
  box-sizing: border-box;
  position: absolute;
  padding-bottom: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
  width: 150px;
  height: 70px;
  border-radius: 15px;
}

.button {
      background: radial-gradient(ellipse farthest-corner at left top, #f35464 30%, #841F4B 100%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
  color: #fff;
  cursor: pointer;
  transition: box-shadow 500ms ease;
  font-size:2rem;
  &:hover {
    box-shadow: 0 7px 30px #f35464;
    transition: box-shadow 500ms ease;
  }
}

button {
    cursor:pointer;
}
#controller {
    z-index:2;
    position:absolute;
  right: 0;
  top: 0;
    display:inline-block;
    padding:20px;
    background-color:rgba(0, 0, 0, 0.4);
  display:none;
}

#slider{
    margin-top:20px;
}

h2 {
  color: #841F4B;
  font-weight: bold;
  margin-top: 0;
}

fieldset {
  margin: 10px 0;
  position: relative;
  input {
    width: 100%;
    height: 52px;
    color: #333333;
    padding: 15px 40px 15px 15px;
    border-radius: 5px;
    font-size: 14px;
    outline: none !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
    &:focus {
      border-color: #f35464;
  outline: 0;
          box-shadow: inset 0 1px 1px #f35464, 0 0 8px #f35464;
    }
  }
}

</style>

    <h1> Enter to win the ultimate beachweek @ NODE's Summer Beachhouse!</h1>


<h3 data-ng-repeat="contest in ContestIndexVM.contests">
  <a href="/contest/{{contest.name}}">{{contest.name}}</a>
</h3>

<form>
  <div class="fieldset">
  <input type="text" data-ng-model="ContestIndexVM.newContestologist.name" placeholder="Name" />
  <input type="string" name="ContestIndexVM.newContestologist.address" placeholder="Address" />
  <input type="text" name="ContestIndexVM.newContestologist.email" placeholder="Email" />
  <button type="button"  data-ng-click="ContestIndexVM.create()">Enter to Win</button>
</form>
</div>
