<h2><a data-ui-sref="MixShow"></a></h2>

        <form method="post" action="delete">
            <button type="submit">Delete</button>
        </form>


        <div data-ng-if="!MixShowVM.mixologist">

          <h2>That drink couldn't be found!</h2>
        </div>
        <div data-ng-if="MixShowVM.mixologist">

          <h2>{{MixShowVM.mixologist.drink_name}}
          {{MixShowVM.mixologist.ingredients}}
        {{MixShowVM.mixologist.instructions}} </h2>

          <div data-ng-if="MixShowVM.mixologist">
            <button data-ng-click="MixShowVM.update()">Edit</button>
            <button data-ng-click="MixShowVM.delete()">Delete</button>
          </div>

          <div data-ng-repeat="drink in MixShowVM.mixologist.drinks">

          <div data-ng-if="mixologist">
            <textarea data-ng-model="newDrink"></textarea>
            <button data-ng-click="addDrink()">Add a Drink</button>
          </div>

        </div>
