<style>
@font-face{
font-family:"Sifonn";
src:url("http://www.myfontfree.com/data/541/s/sifonnbasicouline/SIFONN_BASIC_OUTLINE.otf");
}

body{
  background-color: #eeb2f0;
  font-family: "Sifonn";
}

gallery {
background-position: fixed;
text-align: center;
color:#000000;
font-size: 50px;
font-family: 'SIFONN_BASIC', cursive;
padding: 100px 30px 15px 30px;
margin: auto;
width:800px;
height: 315px;
}
</style>
<div class="MixShow"
<h2><a data-ui-sref="MixShowVM">Mix show</a></h2>

<div data-ng-repeat="mixologist in MixShowVM.mixologist">
<div class="gallery">
        <div data-ng-if="!MixShowVM.mixologist">

          <h2>That drink couldn't be found!</h2>
        </div>
        <div data-ng-model="MixShowVM.mixologist">
          <h2>
            {{MixShowVM.mixologist.drink_name}}</br>
            {{MixShowVM.mixologist.ingredients}}</br>
            {{MixShowVM.mixologist.instructions}} </br>
          </h2>
</div>
</div>
</div>
          <!-- <div data-ng-if="MixShowVM.mixologist.drink_name">
            <h2>Showing {{MixShowVM.mixologist.drink_name}}</h2>
            <input type="text" data-ng-model="MixShowVM.mixologist.drink_name" />
            <button type="button" data-ng-click="MixShowVM.update()">Update</button>
            <button type="button" data-ng-click="MixShowVM.delete()">Delete</button>
          </div>
          <div data-ng-if="!MixShowVM.mixologist.drink_name">
            <h2>This mixologist does not exist!</h2>
          </div>  -->
