<div class="MixIndex">
<h1><a data-ui-sref="MixIndexVM">Mix Index</a></h1>
<h1>Drink Up!</h1>

<h2>There are {{MixIndexVM.mixologists.length}}</h2>

<h3 data-ng-repeat="mixologist in MixIndexVM.mixologists">
  <a href="/mixologist/{{mixologist.drink_name}}">{{mixologist.drink_name}} Recipe!!</a>
</h3>


    <form>
    <input type="text" data-ng-model="MixIndexVM.newMixologist.drink_name" placeholder="Name" />
    <input type="string" name="MixIndexVM.newMixologist.ingredients" placeholder="Ingredients" />
    <input type="text" name="MixIndexVM.newMixologist.instructions" placeholder="Instructions" />

    <button type="button" data-ng-if="!mixologist.id" data-ng-click="MixIndexVM.create()">Create Your Drink</button>
</form>
